@charset "utf-8";
/*--- カート専用 ---*/

body {
	background: none;
	background-color: #F8F4E6;
}
#main {
	margin:0 auto;
	float:none;
}
.backtocart {
	margin:15px auto 30px;
	text-align: center;
	font-weight: bold;
}
.rules h4 {
	margin-bottom: 5px !important;
}

