@charset "UTF-8";
/*======================================
  オールインワンゲル
========================================*/
/*------------------------------------
 set
------------------------------------*/
/*---------- font ----------*/
.fc-w {
  color: #FFF;
}
.fc-key {
  color: #e38378;
}
.fc-text {
  color: #381e13;
}
.fc-text_em {
  color: #bd2820;
}

/*---------- br ----------*/
.br-PxToSo {
  display: none;
}
.br-PxTxSo {
  display: none;
}
.br-PoTxSx {
  display: inline-block;
}
.br-PoToSx {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .br-PxToSo {
    display: inline-block;
  }
  .br-PoTxSx {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .br-PxTxSo {
    display: inline-block;
  }
  .br-PoToSx {
    display: none;
  }
}
/*--- link ---*/
.ic-arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 32px;
  vertical-align: middle;
}

.ic-arrow::before,
.ic-arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.ic-r-lg::before {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.ic-r-lg::after {
  left: 10px;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border: 6px solid transparent;
  border-left: 6px solid;
}

/*------------------------------------
 contents
------------------------------------*/
/*--- カスタマイズ ---*/
#one_column_page #main {
  max-width: 100% !important;
}

#one_column_page #contents {
  max-width: 100% !important;
}

#one_column_flow * {
  box-sizing: content-box;
  line-height: 1.2;
}

#one_column_flow .flow_con .flowbox02 {
  height: 435px;
}

.one_column_flow_tit {
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  margin: 100px auto 0;
  padding: 0 0 15px;
  text-align: center;
  line-height: 1.3;
  /*font-size: $fz-5l;*/
  font-size: 48px;
}
@media screen and (max-width: 640px) {
  .one_column_flow_tit {
    font-family: "Sawarabi Mincho", "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
}
@media screen and (max-width: 768px) {
  .one_column_flow_tit {
    font-size: 38.4px;
  }
}
@media screen and (max-width: 420px) {
  .one_column_flow_tit {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 320px) {
  .one_column_flow_tit {
    font-size: 24px;
  }
}

/*---------- common rule ----------*/
p::selection, span::selection {
  background: #f4dbe3;
}

p::-moz-selection, span::-moz-selection {
  background: #f4dbe3;
}

em::selection, h3::selection, h4::selection {
  background: #f4dbe3;
}

em::-moz-selection, h3::-moz-selection, h4::-moz-selection {
  background: #f4dbe3;
}

.allinonegel {
  background: url(../../image/allinonegel/bdy_bg.png) left top repeat;
  font-size: 18px;
  line-height: 1.5;
  color: #381e13;
}

.allinonegel * {
  box-sizing: border-box;
  vertical-align: bottom;
}

.allinonegel a {
  color: #e38378;
}
.allinonegel a:hover {
  opacity: 0.8;
}

.notes {
  display: inline-block;
  line-height: 1.4;
  font-size: 12px;
  color: #73625a;
}

/*----------------
 order head
------------------*/
.orderHead-Block {
  width: 100%;
  background: #FFF;
}

.fix-head {
  width: 100%;
  display: none;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.fixed {
  display: block;
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: 0.8;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.fixed:hover {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.orderHead {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 1% 0;
  width: 100%;
  max-width: 960px;
  background: #FFF;
  line-height: 1;
}
.orderHead_logo a {
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 14px;
}
@media screen and (max-width: 640px) {
  .orderHead_logo a {
    font-family: "Sawarabi Mincho", "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
}
.orderHead_logo a:hover {
  opacity: 0.8;
}
.orderHead_logo a img {
  width: 100%;
  max-width: 200px;
}
.orderHead_logo_em {
  font-size: 18px;
}
.orderHead_tit {
  padding-bottom: 5px;
  font-size: 16px;
}
.orderHead_tit_em {
  font-size: 18px;
}
.orderHead_tit_em-c {
  font-size: 16px;
  color: #bd2820;
}
.orderHead_txt {
  padding-bottom: 5px;
  font-size: 14px;
}
.orderHead_txt_em-c {
  font-weight: bold;
  color: #bd2820;
}
.orderHead_btn a {
  width: 100%;
  min-width: 142px;
  text-align: center;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #FFF;
  padding: 8% 12%;
  background: #e38378;
  -webkit-transition: color 300ms, background 300ms, box-shadow 300ms;
  transition: color 300ms, background 300ms, box-shadow 300ms;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.08), 0 3px 2px rgba(0, 0, 0, 0.08);
}
.orderHead_btn a:hover {
  background: #f4dbe3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 640px) {
  .orderHead_txt {
    padding: 8% 0;
  }
  .orderHead_btn a {
    padding: 8%;
    /* min-width: auto; */
    font-size: 14px;
  }
  .orderHead-PoToSx {
    display: none;
  }
}

/*------------------------
 topCon
/*------------------------*/
.topimg {
  background-color: #FFF;
  text-align: center;
}
.topimg img {
  width: 100%;
  max-width: 960px;
}

.topCon {
  margin-bottom: -45px;
  padding: 40px 30px 60px;
  background-color: #f8f9fd;
}
@media screen and (max-width: 420px) {
  .topCon {
    padding: 20px 15px 30px;
  }
}
.topCon_txt {
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #bd2820;
}
@media screen and (max-width: 640px) {
  .topCon_txt {
    font-family: "Sawarabi Mincho", "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
}
@media screen and (max-width: 768px) {
  .topCon_txt {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 420px) {
  .topCon_txt {
    font-size: 21.6px;
  }
}
@media screen and (max-width: 320px) {
  .topCon_txt {
    font-size: 18px;
  }
}
.topCon_txt_em {
  background: linear-gradient(transparent 93%, #e38378 93%);
  color: #73625a;
}

/*------------------------
 orderCon
/*------------------------*/
.orderCon {
  position: relative;
  margin: 20px auto;
  padding: 45px 45px 45px;
  width: 930px;
  max-width: 94%;
  background-color: #FFF;
  -webkit-box-shadow: 1px 1px 8px rgba(34, 23, 20, 0.16);
  -moz-box-shadow: 1px 1px 8px rgba(34, 23, 20, 0.16);
  box-shadow: 1px 1px 8px rgba(34, 23, 20, 0.16);
}
@media screen and (max-width: 640px) {
  .orderCon {
    padding: 22.5px 15px 22.5px;
  }
}
.orderCon_tit {
  padding-bottom: 8px;
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  text-align: center;
  font-size: 32px;
}
@media screen and (max-width: 640px) {
  .orderCon_tit {
    font-family: "Sawarabi Mincho", "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
}
@media screen and (max-width: 768px) {
  .orderCon_tit {
    font-size: 25.6px;
  }
}
@media screen and (max-width: 420px) {
  .orderCon_tit {
    font-size: 19.2px;
  }
}
@media screen and (max-width: 320px) {
  .orderCon_tit {
    font-size: 16px;
  }
}
.orderCon_tit_em {
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  .orderCon_tit_em {
    font-size: 38.4px;
  }
}
@media screen and (max-width: 420px) {
  .orderCon_tit_em {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 320px) {
  .orderCon_tit_em {
    font-size: 24px;
  }
}
.orderCon_txt {
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
}
.orderCon_txt_em {
  font-size: 24px;
  font-weight: bold;
}
.orderCon_subtit {
  margin-bottom: 30px;
  font-size: 40px;
}
.orderCon_subtit-one {
  margin-bottom: 15px;
  text-align: center;
}
.orderCon_subtit_md {
  font-size: 24px;
}
.orderCon_data {
  padding: 15px 30px;
  background-color: #f4dbe3;
  font-size: 16px;
}
.orderCon_data-tk {
  margin-top: 10px;
}
.orderCon_data-one {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: baseline;
  align-items: baseline;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .orderCon_data-one {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.orderCon_data_tit {
  padding-right: 8px;
  font-size: 18px;
}
.orderCon_data_tit_em {
  font-size: 24px;
  font-weight: bold;
}
.orderCon_data_tit_em-c {
  color: #bd2820;
}
@media screen and (max-width: 640px) {
  .orderCon_subtit {
    font-size: 36px;
    text-align: center;
  }
  .orderCon_data {
    padding: 15px;
  }
}

/*---------- orderTkCon ----------*/
.orderTkCon {
  margin: 30px auto 12px;
  padding: 48px 0 10px;
  border-top: 2px dotted #381e13;
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 768px) {
  .orderTkCon {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.orderTkCon_l {
  margin: 0 auto;
  padding: 0 45px;
  max-width: 234px;
}
.orderTkCon_r {
  -webkit-flex: 1;
  flex: 1;
}
.orderTkCon_btn a {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
  margin: 0 auto 10px;
  padding-top: 15.15%;
  width: 100%;
  max-width: 845px;
  height: 0;
  text-align: center;
  background: url(../../image/allinonegel/order_btn_teiki.png) center top no-repeat;
  background-size: contain;
}
@media screen and (max-width: 640px) {
  .orderTkCon_btn a {
    padding-top: 30.05%;
    max-width: 426px;
    background: url(../../image/allinonegel/order_btn_teiki-b.png) center top no-repeat;
    background-size: contain;
  }
}
.orderTkCon_notes {
  padding: 20px 30px;
  font-size: 16px;
  color: #73625a;
}
@media screen and (max-width: 768px) {
  .orderTkCon_r {
    padding-top: 30px;
  }
  .orderTkCon_notes {
    padding: 15px;
    font-size: 14px;
  }
}

.priceCon {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 640px) {
  .priceCon-tk {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.priceCon-one {
  padding: 0 30px;
}
@media screen and (max-width: 640px) {
  .priceCon {
    -webkit-align-items: center;
    align-items: center;
  }
  .priceCon-one {
    padding: 0;
  }
}
.priceCon_reg {
  font-size: 24px;
}
.priceCon_reg_price {
  line-height: 48px;
}
.priceCon_reg_price_em {
  font-size: 32px;
  font-weight: bold;
}
.priceCon_ar {
  position: relative;
  padding: 0 15px;
  width: 70px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
}
.priceCon_ar::after {
  content: '→';
}
@media screen and (max-width: 640px) {
  .priceCon_ar::after {
    content: '↓';
  }
}
.priceCon_tk {
  position: relative;
  font-size: 24px;
  color: #bd2820;
}
.priceCon_tk_price {
  line-height: 48px;
}
.priceCon_tk_price_em {
  font-size: 48px;
  font-weight: bold;
}
.priceCon_tk_off {
  position: absolute;
  top: -96px;
  right: -65%;
  width: 126px;
  height: 126px;
}
.priceCon_tk_off img {
  width: 100%;
}
@media screen and (max-width: 420px) {
  .priceCon_tk_off {
    top: -65%;
    right: -15%;
    width: 86px;
    height: 86px;
  }
}
.priceCon_souryou {
  padding: 8px 5px 5px;
  background-color: #bd2820;
  text-align: center;
  line-height: 1;
  color: #FFF;
}
.priceCon_souryou-tk {
  margin: 0 0 10px 12px;
  width: 120px;
  font-size: 24px;
}
.priceCon_souryou-one {
  margin: 0 30px 10px 12px;
  width: 52px;
  font-size: 18px;
}

/*---------- orderOneCon ----------*/
.orderOneCon {
  margin: 30px auto 0;
  padding: 48px 20px 0;
  border-top: 2px dotted #381e13;
}
.orderOneCon_notes {
  padding: 10px 30px 0;
  font-size: 16px;
  color: #73625a;
}
@media screen and (max-width: 768px) {
  .orderOneCon {
    padding: 30px 0 0;
  }
  .orderOneCon_notes {
    padding: 15px 15px 0;
    font-size: 14px;
  }
}
.orderOneCon_btn a {
  display: block;
  max-width: 430px;
}
.orderOneCon_btn a img {
  width: 100%;
}

.priceOneCon {
  margin-top: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .priceOneCon {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/*---------- orderCamp ----------*/
.orderCamp {
  margin: 30px auto 15px;
}
.orderCamp_tit {
  font-size: 24px;
  font-weight: bold;
  color: #bd2820;
}
@media screen and (max-width: 768px) {
  .orderCamp_tit {
    text-align: center;
  }
}
.orderCamp_details {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 24px;
  border: 1px solid #bd2820;
}
@media screen and (max-width: 768px) {
  .orderCamp_details {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.orderCamp_txt {
  line-height: 1.8;
  font-size: 18px;
}
.orderCamp_txt_em-c {
  font-size: 24px;
  color: #bd2820;
}
.orderCamp_txt_em-b {
  line-height: 1.3;
  font-size: 24px;
  font-weight: bold;
}
.orderCamp_ic {
  padding: 15px;
}
.orderCamp_imgCon {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 420px) {
  .orderCamp_imgCon {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.orderCamp_img {
  -webkit-flex: 1;
  flex: 1;
  padding: 15px;
}
.orderCamp_img img {
  width: 100%;
  max-width: 155px;
}

/*------------------------
 nayamiCon
/*------------------------*/
.nayamiCon {
  margin: 40px auto 0;
  padding: 70px 15px 0;
  background-color: #FFF;
}
.nayamiCon_tit {
  text-align: center;
}
.nayamiCon_tit img {
  width: 100%;
  max-width: 378px;
}
.nayamiCon_txt {
  padding-bottom: 100px;
  text-align: center;
}
.nayamiCon_txt img {
  width: 100%;
}
.nayamiCon_txt-01 img {
  max-width: 550px;
}
.nayamiCon_txt-02 img {
  max-width: 578px;
}
.nayamiCon_txt-03 img {
  max-width: 428px;
}
@media screen and (max-width: 640px) {
  .nayamiCon_txt {
    padding-bottom: 15%;
  }
}

.nayamiList {
  position: relative;
  margin: 0 auto 70px;
  padding-top: 650px;
  width: 100%;
  max-width: 960px;
  background: url(../../image/allinonegel/nayami_img_01.png) 116% bottom no-repeat;
  background-size: 60% auto;
}
.nayamiList_txt {
  position: absolute;
  padding: 15px;
  width: 320px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #381e13;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
}
.nayamiList_txt::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  margin-left: 0;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #381e13;
  border-radius: 50%;
  z-index: 0;
}
.nayamiList_txt::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 25px;
  margin-left: 0;
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #381e13;
  border-radius: 50%;
  z-index: 0;
}
.nayamiList_txt_em {
  display: inline-block;
  line-height: 1.2;
  font-size: 36px;
  background: linear-gradient(transparent 93%, #7dcad8 93%);
}
@media screen and (max-width: 768px) {
  .nayamiList_txt_em {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 420px) {
  .nayamiList_txt_em {
    font-size: 21.6px;
  }
}
@media screen and (max-width: 320px) {
  .nayamiList_txt_em {
    font-size: 18px;
  }
}
.nayamiList_txt-01 {
  left: 23%;
  top: 5%;
}
.nayamiList_txt-02 {
  left: 60%;
  top: 20%;
}
.nayamiList_txt-03 {
  left: 10%;
  top: 30%;
}
.nayamiList_txt-04 {
  left: 3%;
  top: 55%;
}
.nayamiList_txt-05 {
  left: 8%;
  top: 78%;
}
@media screen and (max-width: 768px) {
  .nayamiList_txt-02 {
    left: 57%;
    top: 36%;
  }
}
@media screen and (max-width: 640px) {
  .nayamiList_txt-01 {
    left: 3%;
    top: 5%;
  }
  .nayamiList_txt-02 {
    left: 56%;
    top: 24%;
  }
  .nayamiList_txt-03 {
    left: 0;
    top: 30%;
  }
  .nayamiList_txt-04 {
    top: 52%;
  }
  .nayamiList_txt-05 {
    left: 0;
    top: 74%;
  }
}
@media screen and (max-width: 420px) {
  .nayamiList {
    padding: 15px 0 130px;
  }
  .nayamiList_txt {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 30px;
    width: 290px;
  }
}

/*------------------------
 kaiketsuCon
/*------------------------*/
.kaiketsuCon_tit {
  position: relative;
  padding: 30px 15px;
  width: 100%;
  text-align: center;
  background-color: #FFF;
}
.kaiketsuCon_tit img {
  width: 100%;
  max-width: 577px;
}
.kaiketsuCon_arrow {
  margin: 0 auto -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 480px 0 480px;
  border-color: #FFF transparent transparent transparent;
}
@media screen and (max-width: 960px) {
  .kaiketsuCon_arrow {
    border-width: 100px 384px 0 384px;
  }
}
@media screen and (max-width: 420px) {
  .kaiketsuCon_arrow {
    border-width: 50px 160px 0 160px;
  }
}
.kaiketsuCon_txt {
  margin: 30px auto;
  text-align: center;
}
.kaiketsuCon_txt img {
  width: 100%;
  max-width: 1160px;
}

.seibunList {
  margin: 0 auto;
  width: 94%;
  max-width: 665px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.seibunList_items {
  max-width: 95px;
  text-align: center;
  line-height: 1.2;
  font-size: 12px;
}
@media screen and (max-width: 640px) {
  .seibunList_items {
    max-width: 75px;
  }
}
.seibunList_img img {
  padding-bottom: 5px;
  width: 100%;
}

/*------------------------
 himitsuCon
/*------------------------*/
.himitsuCon {
  position: relative;
  margin: 130px auto 0;
  padding: 50px 50px 50px;
  width: 96%;
  max-width: 906px;
  background: #FFF;
  border: 8px solid #bd2820;
}
@media screen and (max-width: 640px) {
  .himitsuCon {
    padding: 25px 15px 25px;
    border: 5px solid #bd2820;
  }
}
.himitsuCon_tit {
  padding-bottom: 40px;
  text-align: center;
}
.himitsuCon_tit img {
  width: 100%;
  max-width: 655px;
}
.himitsuCon_ic {
  position: absolute;
  margin-left: -50%;
  left: 50%;
  top: -68px;
  width: 100%;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  text-align: center;
}
.himitsuTextCon_img img {
	width: 100%;
}
.himitsuTextCon_img-01 {
  max-width: 168px;
}
.himitsuTextCon_img-02 {
  max-width: 322px;
}

.himitsuTextCon {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .himitsuTextCon {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.himitsuTextCon_l {
  margin: 0 auto 15px;
  -webkit-flex: 1;
  flex: 1;
}
.himitsuTextCon_txt {
  padding-bottom: 30px;
  line-height: 2;
}
.himitsuTextCon_txt_em {
  background: linear-gradient(transparent 93%, #e38378 93%);
}
.himitsuTextCon_r {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex: 1.2;
  flex: 1.2;
  margin: 0 auto;
  text-align: center;
}
.himitsuTextCon_img {
  padding: 12px;
}
.himitsuTextCon_img-01 {
  max-width: 168px;
}
.himitsuTextCon_img-02 {
  max-width: 322px;
}

/*------------------------
 seibunCon
/*------------------------*/
.seibunCon {
  margin: 30px auto 70px;
  width: 100%;
}
.seibunCon_tit {
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  padding: 30px 0;
  text-align: center;
  line-height: 1.3;
  font-size: 48px;
}
@media screen and (max-width: 640px) {
  .seibunCon_tit {
    font-family: "Sawarabi Mincho", "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
}
@media screen and (max-width: 768px) {
  .seibunCon_tit {
    font-size: 38.4px;
  }
}
@media screen and (max-width: 420px) {
  .seibunCon_tit {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 320px) {
  .seibunCon_tit {
    font-size: 24px;
  }
}
.seibunCon_tit_em {
  font-size: 84px;
  color: #e38378;
}
@media screen and (max-width: 768px) {
  .seibunCon_tit_em {
    font-size: 67.2px;
  }
}
@media screen and (max-width: 420px) {
  .seibunCon_tit_em {
    font-size: 50.4px;
  }
}
@media screen and (max-width: 320px) {
  .seibunCon_tit_em {
    font-size: 42px;
  }
}
@media screen and (max-width: 420px) {
  .seibunCon_tit {
    background-color: #FFF;
  }
}
.seibunCon_lastCon {
  margin-top: 70px;
  background-color: #f8f9fd;
}
.seibunCon_last {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.seibunCon_last_txt {
  -webkit-flex: 1;
  flex: 1;
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  padding: 25px 10px 25px 5%;
  line-height: 1.5;
  font-size: 32px;
}
@media screen and (max-width: 640px) {
  .seibunCon_last_txt {
    font-family: "Sawarabi Mincho", "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
}
@media screen and (max-width: 768px) {
  .seibunCon_last_txt {
    font-size: 25.6px;
  }
}
@media screen and (max-width: 420px) {
  .seibunCon_last_txt {
    font-size: 19.2px;
  }
}
@media screen and (max-width: 320px) {
  .seibunCon_last_txt {
    font-size: 16px;
  }
}
.seibunCon_last_txt_em {
  background: linear-gradient(transparent 0%, #fcecc7 0%);
}
.seibunCon_last_img {
  width: 30%;
  max-width: 320px;
}
.seibunCon_last_img img {
  width: 100%;
}

.seibunDtlList {
  margin: 0 auto 70px;
  padding: 0 30px;
  max-width: 960px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  .seibunDtlList {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.seibunDtlList_items {
  padding: 20px;
}
.seibunDtlList_items-2c {
  width: 380px;
}
.seibunDtlList_items-3c {
  width: 260px;
}
@media screen and (max-width: 640px) {
  .seibunDtlList_items-2c {
    width: 100%;
  }
  .seibunDtlList_items-3c {
    width: 100%;
  }
}
.seibunDtlList_img {
  text-align: center;
}
.seibunDtlList_img img {
  width: 180px;
}
.seibunDtlList_tit {
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  color: #73625a;
}
@media screen and (max-width: 640px) {
  .seibunDtlList_tit {
    font-family: "Sawarabi Mincho", "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
}
.seibunDtlList_txt_em {
  font-weight: bold;
}

/*------------------------
 emuoilCon
/*------------------------*/
.emuoilCon {
  margin: 0 auto 70px;
  padding: 70px 70px 30px;
  width: 94%;
  max-width: 960px;
  background-color: #FFF;
}
.emuoilCon_tit {
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  padding: 10px 0 50px;
  text-align: center;
  line-height: 1.3;
  font-size: 36px;
}
@media screen and (max-width: 640px) {
  .emuoilCon_tit {
    font-family: "Sawarabi Mincho", "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
}
@media screen and (max-width: 768px) {
  .emuoilCon_tit {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 420px) {
  .emuoilCon_tit {
    font-size: 21.6px;
  }
}
@media screen and (max-width: 320px) {
  .emuoilCon_tit {
    font-size: 18px;
  }
}
.emuoilCon_tit_em {
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  .emuoilCon_tit_em {
    font-size: 38.4px;
  }
}
@media screen and (max-width: 420px) {
  .emuoilCon_tit_em {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 320px) {
  .emuoilCon_tit_em {
    font-size: 24px;
  }
}
.emuoilCon_tit_em-c {
  color: #e38378;
}
@media screen and (max-width: 640px) {
  .emuoilCon {
    padding: 5%;
  }
}

.qandaList_q {
  font-size: 36px;
}
@media screen and (max-width: 768px) {
  .qandaList_q {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 420px) {
  .qandaList_q {
    font-size: 21.6px;
  }
}
@media screen and (max-width: 320px) {
  .qandaList_q {
    font-size: 18px;
  }
}
.qandaList_a {
  font-size: 24px;
}
.qandaList_ic {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto 20px;
}
.qandaList_ic_img {
  width: 21%;
  min-width: 39px;
  max-width: 78px;
}
.qandaList_ic_img img {
  width: 100%;
}
.qandaList_ic_txt {
  padding-left: 20px;
}
.qandaList_aCon {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto 70px;
}
@media screen and (max-width: 640px) {
  .qandaList_aCon {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.qandaList_img {
  margin: 0 auto;
  max-width: 320px;
}
.qandaList_img-01 {
  max-width: 236px;
}
.qandaList_img img {
  margin-bottom: 15px;
  width: 100%;
}
.qandaList_txt {
  padding-left: 30px;
  font-size: 18px;
  color: #73625a;
}
.qandaList_txt_em {
  background: linear-gradient(transparent 93%, #e38378 93%);
}
.qandaList_txt p {
  margin-bottom: 15px;
}
@media screen and (max-width: 640px) {
  .qandaList_txt {
    padding: 30px 0 0;
  }
}

/*------------------------
 hinshitsuCon
/*------------------------*/
.hinshitsuCon {
  margin: 0 auto;
  width: 100%;
}
.hinshitsuCon-01 {
  background-color: #f8f9fd;
}
.hinshitsuCon-02 {
  background-color: #e3e3e1;
}

.hinshitsuTxtCon {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
@media screen and (max-width: 768px) {
  .hinshitsuTxtCon {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.hinshitsuTxtCon_l img {
  width: 100%;
}
.hinshitsuTxtCon_l-01 {
  -webkit-flex: 1;
  flex: 1;
}
.hinshitsuTxtCon_l-02 {
  padding: 60px 60px 60px 0;
  width: 100%;
  max-width: 680px;
}
@media screen and (max-width: 768px) {
  .hinshitsuTxtCon_l img {
    padding: 30px 15px 0;
  }
  .hinshitsuTxtCon_l-02 {
    padding: 60px;
  }
}
@media screen and (max-width: 640px) {
  .hinshitsuTxtCon_l-02 {
    padding: 40px 30px 0;
  }
}
@media screen and (max-width: 420px) {
  .hinshitsuTxtCon_l-02 {
    padding: 30px 15px 0;
  }
}
.hinshitsuTxtCon_r img {
  width: 100%;
}
.hinshitsuTxtCon_r-01 {
  padding: 60px 0 60px 60px;
  width: 100%;
  max-width: 680px;
}
.hinshitsuTxtCon_r-02 {
  -webkit-flex: 1;
  flex: 1;
  padding: 30px 100px 0 20px;
}
@media screen and (max-width: 768px) {
  .hinshitsuTxtCon_r-01 {
    padding: 60px;
  }
  .hinshitsuTxtCon_r-02 {
    padding: 0;
    max-width: 180px;
  }
}
@media screen and (max-width: 640px) {
  .hinshitsuTxtCon_r-01 {
    padding: 30px 30px 40px;
  }
}
@media screen and (max-width: 420px) {
  .hinshitsuTxtCon_r-01 {
    padding: 15px 15px 30px;
  }
}
.hinshitsuTxtCon_tit {
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  margin-bottom: 20px;
  line-height: 1.3;
  font-size: 32px;
}
@media screen and (max-width: 640px) {
  .hinshitsuTxtCon_tit {
    font-family: "Sawarabi Mincho", "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
}
.hinshitsuTxtCon_tit_em {
  font-size: 56px;
}
@media screen and (max-width: 768px) {
  .hinshitsuTxtCon_tit_em {
    font-size: 44.8px;
  }
}
@media screen and (max-width: 420px) {
  .hinshitsuTxtCon_tit_em {
    font-size: 33.6px;
  }
}
@media screen and (max-width: 320px) {
  .hinshitsuTxtCon_tit_em {
    font-size: 28px;
  }
}
.hinshitsuTxtCon_subtit {
  margin-bottom: 20px;
  line-height: 1.3;
  font-size: 24px;
  color: #73625a;
}
.hinshitsuTxtCon_txt {
  line-height: 1.8;
  color: #73625a;
}
.hinshitsuTxtCon_txt_em-01 {
  background: linear-gradient(transparent 0%, #fcecc7 0%);
}
.hinshitsuTxtCon_txt_em-02 {
  background: linear-gradient(transparent 0%, #FFF 0%);
}

/*------------------------
 useCon
/*------------------------*/
.useCon {
  margin: 40px auto 70px;
  text-align: center;
}
.useCon img {
  width: 94%;
  max-width: 906px;
}

/*------------------------
 voiceCon
/*------------------------*/
.voiceCon {
  margin: 0 auto 70px;
  width: 94%;
  max-width: 960px;
}
.voiceCon img {
  width:100%;
}
.voiceCon_tit {
  margin: 0 auto;
  text-align: center;
  max-width: 718px;
}
.voiceCon_subtit {
  margin: 0 auto 30px;
  text-align: center;
  width: 88%;
  max-width: 358px;
}


/*---------- voiceCon_img ----------*/
.voiceCon_img {
  margin: 30px auto;
  padding: 60px 30px;
  width: 100%;
  max-width: 960px;
  text-align: center;
  background-color: #f4dbe3;
  background-image: url(../../image/allinonegel/bg_snow.png), url(../../image/allinonegel/bg_snow2.png), url(../../image/allinonegel/bg_snow3.png);
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}
@media screen and (max-width: 640px) {
  .voiceCon_img {
    padding: 5% 3%;
  }
}
.voiceCon_img img {
  width: 100%;
  max-width: 864px;
}

@keyframes snow {
  0% {
    background-position: 0px 500px, 0px 300px, 0px 400px;
  }
  100% {
    background-position: 0 0, 0 0, 0 0;
  }
}
/*chrome&safari*/
@-webkit-keyframes snow {
  0% {
    background-position: 0px 500px, 0px 300px, 0px 400px;
  }
  100% {
    background-position: 0 0, 0 0, 0 0;
  }
}
/*firefox*/
@-moz-keyframes snow {
  0% {
    background-position: 0px 500px, 0px 300px, 0px 400px;
  }
  100% {
    background-position: 0 0, 0 0, 0 0;
  }
}
/*ie*/
@-ms-keyframes snow {
  0% {
    background-position: 0px 500px, 0px 300px, 0px 400px;
  }
  100% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
}
/*---------- voiceList ----------*/
.voiceList {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  background-color: #FFF;
}
.voiceList_items {
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 768px) {
  .voiceList_items {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.voiceList_img {
  width: 264px;
}
.voiceList_img img {
  width: 100%;
}
.voiceList_img_b {
  padding-bottom: 2px;
}
.voiceList_imgList {
  display: -webkit-flex;
  display: flex;
}
.voiceList_imgList-s {
  padding: 0 2px 2px 0;
}
.voiceList_imgList p {
  padding: 8px;
  font-size: 12px;
  color: #73625a;
}
@media screen and (max-width: 768px) {
  .voiceList {
    width: 100%;
  }
  .voiceList_img {
    width: 100%;
    display: -webkit-flex;
    display: flex;
  }
  .voiceList_img_b {
    -webkit-flex: 1;
    flex: 1;
    padding: 0 2px 2px;
  }
  .voiceList_img_s {
    -webkit-flex: 1;
    flex: 1;
  }
}

.voiceListCon {
  flex: 1;
  -webkit-flex: 1;
  padding: 40px;
  background: url(../../image/allinonegel/voice_ic_cosmenist.png) 96% 20px no-repeat;
}
.voiceListCon_tit {
  margin-bottom: 30px;
  line-height: 1.4;
  /*font-size: $fz-3l;*/
  font-size: 36px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .voiceListCon_tit {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 420px) {
  .voiceListCon_tit {
    font-size: 21.6px;
  }
}
@media screen and (max-width: 320px) {
  .voiceListCon_tit {
    font-size: 18px;
  }
}
.voiceListCon_tit_em {
  padding-right: 15px;
  background: linear-gradient(transparent 48%, #f2c9d3 48%);
}
.voiceListCon_repo {
  margin-bottom: 20px;
  font-size: 16px;
}
.voiceListCon_repo_em {
  font-size: 18px;
  font-weight: bold;
}
.voiceListCon_txt {
  line-height: 1.8;
  color: #73625a;
}
.voiceListCon_txt_em {
  background: linear-gradient(transparent 0%, #fcecc7 0%);
}
.voiceListCon_pickup {
  margin: 20px 0 10px;
  padding-left: 33px;
  height: 26px;
  background: url(../../image/allinonegel/voice_ic_flower.png) left center no-repeat;
  color: #e38378;
  font-weight: bold;
}
.voice_notes {
	position:relative;
	width:100%;
}
.voice_notes::after {
	content:'※個人の感想であり、効能・効果を保証するものではありません';
	position:absolute;
	bottom:-18px;
	right:0;
  text-align: right;
  line-height: 1.4;
  font-size: 12px;
  color: #73625a;
}
@media screen and (max-width: 420px) {
  .voiceListCon {
    padding: 15px;
    background-size: 20%;
  }
  .voice_notes::after {
    font-size: 10px;
  }
}

/*---------- voiceCon_other ----------*/
.voiceCon_other {
  margin: 8px auto 70px;
  padding: 40px;
  width: 100%;
  max-width: 960px;
  background-color: #fffdf7;
  color: #73625a;
}
@media screen and (max-width: 768px) {
  .voiceCon_other {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .voiceCon_other {
    padding: 15px;
  }
}

/*---------- voiceCon_details ----------*/
.voiceCon_details {
  margin: 8px auto 70px;
  width: 100%;
  max-width: 960px;
}
.voiceCon_details_items {
  background-color: #FFF;
  margin: 0 auto 30px;
  padding: 40px;
}
.voiceCon_details_titCon {
  margin-bottom: 40px;
  /*border-bottom: 1px solid #D6736D;*/
}
.voiceCon_details_tit {
  text-align: center;
  line-height: 1.2;
  font-size: 36px;
  font-weight: bold;
}
.voiceCon_details_tit_em {
  font-size: 24px;
  color: #e38378;
}
.voiceCon_details_txt {
  position:relative;
  padding: 0 0 10px;
  font-size: 18px;
}
.voiceCon_details_txt::before {
  content:"・";
}
.voiceCon_details_txt_em {
  background: linear-gradient(transparent 0%, #fcecc7 0%);
}
.voiceCon_details_txt_md {
  display: inline-block;
  padding-left: 5px;
  font-size: 12px;
}
.voiceCon_details_icCon {
  margin:10px auto 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  background-color: #D6736D;
}
.voiceCon_details_ic {
  position: relative;
  margin: 0px;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 1.2;
  font-size: 24px;
  color: #fff;
}
.voiceCon_details_ic_em {
  font-size: 36px;
}
@media screen and (max-width: 768px) {
  .voiceCon_details {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .voiceCon_details_tit {
    padding: 10px 0;
    font-size: 24px;
  }
  .voiceCon_details_items {
    padding: 15px;
  }
}

/*------------------------
 lastCon
/*------------------------*/
.lastCon {
  margin: 0 auto 70px;
  padding: 0;
  width: 100%;
  background-color: #FFF;
}
.lastCon_tit {
  margin: 0 auto;
  padding: 5% 8% 40px;
  text-align: center;
}
.lastCon_tit img {
  width: 100%;
  max-width: 622px;
}
.lastCon_img {
  margin: 40px auto 0;
  width: 94%;
  max-width: 960px;
}
.lastCon_img img {
  width: 100%;
}
.lastCon_txt {
  position: relative;
  margin: 0 auto;
  padding: 6% 20px 9%;
  width: 100%;
  max-width: 960px;
}
.lastCon_txt img {
  margin: 0;
  width: 76%;
  max-width: 663px;
}
.lastCon_txt::after {
  z-index: 0;
  content: '';
  position: absolute;
  right: -5%;
/*   bottom: -39%;
  width: 45%; */
  bottom: -20%;
  width: 42%;
  height: 136%;
  background: url(../../image/allinonegel/last_img_02.png) right bottom no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .lastCon_txt::after {
    bottom: -39%;
    width: 45%;
  }
}
@media screen and (max-width: 420px) {
  .lastCon_txt {
    overflow: hidden;
    padding-bottom: 28%;
  }
  .lastCon_txt img {
    width: 100%;
  }
}

/*----------------
 teiki_details
------------------*/
.teiki_details_tit {
  font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
.teiki_detailsBox_ttBox_tt, .teiki_detailsBox_ttBox_sub {
	color:#e38378;
}

/*------------------------
 mondeCon
/*------------------------*/
.mondeCon {
  margin: 30px auto;
  width: 100%;
}
.mondeCon_img {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.mondeCon_img img {
  width: 100%;
}
.mondeCon-02 {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 1px auto 0;
  width: 100%;
  max-width: 960px;
  background:url(../../image/allinonegel/monde_img_02.png) left top no-repeat;
  background-size: cover;
}
.mondeCon-02_img {
  padding: 50px 0 50px 50px;
}
.mondeCon-02_img img {
  width: 100%;
  min-width: 320px;
}
.mondeCon-02_txt {
  padding: 50px;
	color:#FFFFFF;
}
.mondeCon-02_txt p {
	padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .mondeCon-02 {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .mondeCon-02_img, .mondeCon-02_txt { padding: 8%; }
  .mondeCon-02_txt { padding-top:0px;}
}