@charset "utf-8";

/*========================================
  PCサイト共通
  ========================================*/
body {
	color: #2C1F19;
	text-align: left;
	background: url(../../image/common/header_bg.png) repeat-x scroll left top #F8F4E6;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 16px;
	/* line-height:1.4em; */
	line-height:1.4;
}
a {
	color: #39A3B1;
	text-decoration: none;
}
a:hover {
	color:#6DD5DD;
}
.link_s a {
	background: url(../../image/common/link_s2.png) 0 50% no-repeat;
	padding-left: 16px;
}
.link_s a:hover {
	background: url(../../image/common/link_s2_o.png) 2px 50% no-repeat;
}
.link_b a {
	background: url(../../image/common/link_b.png) 0 45% no-repeat;
	padding-left: 26px;
}
.link_b a:hover {
	background: url(../../image/common/link_b_o.png) 0 45% no-repeat;
}

/*========================================
  #header
  ========================================*/
#header {
	width: 990px;
	margin: 0 auto;
	height: 173px;
	position: relative;
	font-size: 15px;
}
#header #h_logo_unav {
}
#header #logo a {
	display: block;
	position: absolute;
	left: 0;
	top: 23px;
	padding: 15px 23px 17px 23px;
	width: 165px;
	height: 40px;
	border:1px solid #DFD8CC;
	border-top: none;
	background:url(../../image/common/logo_bg.png) left top repeat-x;
	background-size:cover;
-moz-box-shadow:0px 0px 4px rgba(110,87,84,0.11);
-webkit-box-shadow:0px 0px 4px rgba(110,87,84,0.11);
box-shadow:0px 0px 4px rgba(110,87,84,0.11);
}
#header #logo a img {
	width: 100%;
}
/*-------- #h_unav ---------*/
#header #h_unav {
	position: relative;
	top: 31px;
	left: 525px;
	width: 127px;
}
#header #h_unav li {
	margin: 0 5px 3px 0;
	width: 125px;
	border-bottom: 1px solid #F2EDE8;
}
#header #h_unav li a {
	display: block;
	width: 100%;
	padding: 5px 5px 4px 5px;
	background:url(../../image/common/navi_bg.png) left top repeat-x;
	background-size:cover;
-moz-box-shadow:0px 0px 4px rgba(110,87,84,0.11);
-webkit-box-shadow:0px 0px 4px rgba(110,87,84,0.11);
box-shadow:0px 0px 4px rgba(110,87,84,0.11);
	font-size: 0.8em;
	color: #5F4646;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#header #h_unav li a img {
	padding-right: 3px;
	width: 15%;
	vertical-align: middle;
}
#header #h_unav li a br {
	display: none;
}
#header #h_unav li a:hover {
	background-image:url(../../image/common/navi_bg_o.png);
}
/*--- カートボタン ---*/
#header #h_unav li.h_unav__cart {
	position: absolute;
	top: 0;
	left: 130px;
	width: 145px;
}
#header #h_unav li.h_unav__cart a {
	display: block;
	padding: 0px 8px 6px 8px;
	height: 58px;
	line-height: 58px;
	background:url(../../image/common/cart_bg.png) left top repeat;
	background-size:cover;
-moz-box-shadow:0px 0px 4px rgba(110,87,84,0.11);
-webkit-box-shadow:0px 0px 4px rgba(110,87,84,0.11);
box-shadow:0px 0px 4px rgba(110,87,84,0.11);
	font-size: 1em;
	color:#FFF;
}
#header #h_unav li.h_unav__cart a:hover {
	background-image:url(../../image/common/cart_bg_o.png);
	opacity:1;
}
#header #h_unav li.h_unav__cart a img {
	width: 23%;
	margin-top: -5px;
}

/*-------- #h_info ---------*/
#header #h_info {
	position: absolute;
	width: 285px;
	left: 225px;
	top: 35px;
	text-align: center;
}
#header #h_info p br, 
#header #h_info p span br {
	display: none;
}
#header #h_info p span {
	font-size: 0.8em;
}
#header #h_info #h_souryou {
	margin-bottom: 8px;
	padding:5px 8px;
	font-size:0.8em;
	line-height:1.2em;
	background:#FFF;
	color: #E54C45;
	font-weight: bold;
}
#header #h_info #h_newmem {
	font-size:0.8em;
	line-height:1.2em;
}
#header #h_info #h_newmem a {
	padding: 0 3px 0 15px;
	background: url(../../image/common/first_guide.png) left 50% no-repeat;
	font-size: 1em;
}

/*-------- #h_tel ---------*/
#header #h_tel {
	position: absolute;
	top: 31px;
	right: 0px;
	width: 180px;
	height: 56px;
}
#header #h_tel #h_fax {
	position: absolute;
	top: -5px;
	right: -10px;
	width: 75px;
	height: 23px;
}
#header #h_tel #h_fax a {
	width: 75px;
	height: 23px;
}
#header #logo a, #header #h_tel #h_fax a {
	display: block;
	background-color: transparent;
	transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-webkit-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	-ms-transition: background-color 0.1s linear;
}
#header #logo a:hover, #header #h_tel #h_fax a:hover {
	background-color: #F9F6EA;
}

/*---------- global_navi ----------*/
#global_navi {
	width: 990px;
	height: 58px;
	position: absolute;
	right: 0;
	top: 110px;
}
#global_navi ul {
	overflow: hidden;
	width:100%;
	height:100%;
	border:1px solid #DFD8CC;
-moz-box-shadow:0px 0px 4px rgba(110,87,84,0.11);
-webkit-box-shadow:0px 0px 4px rgba(110,87,84,0.11);
box-shadow:0px 0px 4px rgba(110,87,84,0.11);
}
#global_navi ul li {
	float: left;
	width:197px;/*size*/
	height: 60px;
	border-right:1px solid #F2EDE8;
}
#global_navi ul li:last-child {
	width:198px;
}
#global_navi ul li a {
	position:relative;
	display: block;
	padding:21px 20px 21px 32px;
	text-align: center;
	color:#5F4847;
	font-size: 107%;
	line-height:16px;
	text-shadow: 1px 1px 1px #FFFFFF;
-webkit-text-shadow: 1px 1px 1px #FFFFFF;
-moz-text-shadow: 1px 1px 1px #FFFFFF;
	background:url(../../image/common/navi_bg.png) left top repeat;
	border-right:1px solid #FDFCF9;
}
#global_navi ul li.global_navi__two_rows a {
	padding:11px 20px 9px 32px;
	line-height: 1.2em;
}
#global_navi ul li a:hover, #global_navi ul li a:active {
	background:url(../../image/common/navi_bg_o.png) left top repeat;
}
#global_navi ul li:last-child, #global_navi ul li:last-child a {
	border:none;
}
#global_navi ul li a img {
	position:absolute;
	top:50%;
	left:13px;
	width:22px;
	height:22px;
	margin-top:-11px;
}

/*--- title ---*/
#header h1 {
	font-size: 80%;
	color: #FFF;
	font-weight: normal;
	position: absolute;
	width: 960px;
	top: 5px;
	left: 0px;
}

/*--- headBnr ---*/
#headBnr {
	padding:1px 0;
	margin:5px auto;
	width:100%;
	max-width:990px;
	text-align: center;
	background-color: #F3EFE1;
}
#headBnr a:hover {
	filter: alpha(opacity=80);
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}
#headBnr img {
	width:49%;
	min-width:485px;
	vertical-align:bottom;
}

/*========================================
   Contents
  ========================================*/
#contents {
	width: 990px;
	margin: 30px auto;
	position: relative;
}
#pankuzu {
	font-size: 80%;
	position: absolute;
	width: 740px;
	top: -25px;
	right: 1px;
}
#pankuzu span {
	display:inline-block;
	padding:0 15px;
}

/*========================================
   Footer
  ========================================*/
#footer {
	width: 100%;
	background: #F3ECD3;
	position:relative;
}
#footer section {
	width: 990px;
	margin: 0 auto;
	padding: 10px 0;
}

/*-------- #f_guide --------*/
#f_guide {
	width: 100%;
	height: 1250px;
	background: #F3ECD3;
}
#f_guide h1 {
	padding: 15px;
	border-top: 1px solid #FFF;
	background: #5F4746;
	color: #FFF;
	font-size: 1.4em;
	text-align: center;
}
#f_guide .tabbox {
	position: relative;
	margin: 0 auto;
	width: 990px;
}
#f_guide .tab-index * {
	display: none;
}
#f_guide .tab-contents {
	position: absolute;
	padding-top: 10px;
	width: 465px;
	display: block !important;
}
#f_guide #tab1 {
	top: 0;
	left: 0;
}
#f_guide #tab2 {
	top: 0;
	right: 0;
}
#f_guide #tab3 {
	top: 417px;
	left: 0;
}
#f_guide #tab4 {
	top: 761px;
	right: 0;
}
#f_guide h3 {
	font-size: 147%;
	padding: 30px 0;
	background: none;
	margin:0;
	width: 465px;
}
#f_guide h4 {
	font-size: 120%;
	padding-bottom: 15px;
	color: #F08200;
	background: none;
	margin:0;
}
#f_guide p {
	padding-bottom: 15px;
}

/*-------- #f_tel_pc --------*/
.telbox {
	display: none;
}
#f_tel_pc {
	width: 100%;
	border-top: 1px solid #FFF;
	background: url(../../image/common/f_bg.png) left top repeat;
	padding: 40px 0 20px;
}
#f_tel_pc div {
	width: 203px;
	height: 72px;
	padding: 52px 0 0 787px !important;
	margin: 0 auto;
	background: url(../../image/common/f_contact.png) left top no-repeat;
	position:relative;
}
#f_tel_pc div p a {
	display: block;
	width: 148px;
	height: 17px;
	opacity: 1.0;
}
#f_tel_pc div p a:hover {
	transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-webkit-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	-ms-transition: opacity 0.1s linear;
	opacity: 0.8;
}
#f_tel_pc div #f_fax a {
top: 24px;
right: 230px;
position: absolute;
width: 72px;
height: 20px;
display: block;
}

/*-------- .f_global_navi --------*/
.f_global_navi {
	width: 100%;
	background: url(../../image/common/f_bg.png) left top repeat;
	padding: 25px 0 20px;
}
.f_global_navi a {
	color: #FFF;
}
.f_global_navi a:hover {
	transition: text-shadow 0.1s linear;
	-moz-transition: text-shadow 0.1s linear;
	-webkit-transition: text-shadow 0.1s linear;
	-o-transition: text-shadow 0.1s linear;
	-ms-transition: text-shadow 0.1s linear;
	text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
	-moz-text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
	-o-text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
	-ms-text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
}
.f_global_navi ul {
	overflow: hidden;
	margin: 0 auto ;
	/*width: 990px;*/
	width: 990px;
}
.f_global_navi ul li ul {
	width: 100%;
}
.f_global_navi ul li {
	float: left;
	padding-bottom: 3px;
	width: 232px;
	margin:0px 20px 20px 0px;
}
.f_global_navi ul li:nth-child(4n) {
	margin-right: 0;
}
.f_global_navi ul li ul li {
	float: none;
	margin: 0 0 0 0;
}
.f_global_navi ul li label {
	display: inline-block;
	margin-bottom: 8px;
	padding-bottom: 5px;
	width: 100%;
	border-bottom: 1px solid #F3ECD3;
	color:#F3ECD3;
	font-weight: bold;
}
.f_global_navi ul li input {
	display: none;
}

/*-------- #f_sub_navi --------*/
#f_sub_navi {
	padding-bottom: 30px;
	width: 100%;
	background: url(../../image/common/f_bg.png) left top repeat;
	text-align: center;
}
#f_sub_navi a {
	color: #FFF;
}
#f_sub_navi a:hover {
	transition: text-shadow 0.1s linear;
	-moz-transition: text-shadow 0.1s linear;
	-webkit-transition: text-shadow 0.1s linear;
	-o-transition: text-shadow 0.1s linear;
	-ms-transition: text-shadow 0.1s linear;
	text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
	-moz-text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
	-o-text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
	-ms-text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
}

/*--- #f_manage, #f_co_navi ---*/
#f_manage, #f_co_navi {
	display: inline-block;
	padding-bottom: 3px;
	width: 232px;
	margin:0px 20px 20px 0;
	text-align: left;
	vertical-align: top;
}
#f_manage {
	margin-left: -484px;
}
#f_co_navi {
	margin-left: 0px;
}
#f_manage p ,
#f_co_navi li:first-child {
	display: inline-block;
	margin-bottom: 8px;
	padding-bottom: 5px;
	width: 100%;
	border-bottom: 1px solid #F3ECD3;
	color:#F3ECD3;
	font-weight: bold;
}
#f_manage ul li {
	text-align: center;
}
#f_manage ul li a {
	opacity: 1.0;
}
#f_manage ul li a:hover {
	transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-webkit-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	-ms-transition: opacity 0.1s linear;
	opacity: 0.8;
}
#f_co_navi ul li {
	padding-bottom: 3px;
}

#goto_pc {
	padding: 15px;
	width: 100%;
	text-align: center;
}
#goto_sp {
	display: none;
}

#copyright {
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -135px;
	width: 270px;
	text-align: center;
	color: #FFF;
	font-size: 0.8em;
}

/*広告媒体管理*/
.adImage img {
	display:none !important;
	width:1px !important;
	height:1px !important;
}


/*======================================
  cal.css
  ======================================*/

div.cal_wrapper {
	padding: 0px 0px 10px;
	font-weight: bold;
}
div.schedule_wrapper {
	padding: 10px 0px;
	width: 310px;
	border: solid 1px #CCC;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #666;
}
div.schedule_wrapper h3 {
	padding: 0px 10px;
	font-weight: normal;
	margin: 0px;
	color: #666;
}
div.schedule_wrapper div.schedule_list {
	padding: 0px 10px;
	margin: 0px;
}
div.schedule_wrapper div.schedule_list ol {
	padding: 0px;
	margin: 5px auto;
	border-top: solid 1px #CCC;
}
div.schedule_wrapper div.schedule_list ol li {
	padding: 5px 10px 0px 0px;
	margin: 0px 0px 0px 30px;
	font-size: 12px;
	line-height: 1.5em;
}
div.schedule_wrapper div.schedule_list ol li:hover {
	text-decoration: underline;
}
div.cal_wrapper table.cal tr th p {
	float: left;
	padding: 5px !important;
	margin: 0px;
	color: #5F4646;
	/*font-size: 12px;*/
}
div.cal_wrapper table.cal tr th div.cal_ui {
	float: right;
	display:none;/* prev/next */
}
div.cal_wrapper table.cal tr th div.cal_ui input {
	border: solid 1px #CCC;
	background-color: #FFF;
	font-size: 12px;
	margin: 7px 1px 0;
	padding: 1px 5px;
	border-radius: 3px;
}
div.cal_wrapper table.cal tr td {
	/* border-top: solid 1px #FFF; */
}
div.cal_wrapper table.cal tr td {
	font-size: 12px;
	text-align: center;
	padding: 2px
}
div.cal_wrapper table.cal tr.headline td {
	padding: 4px 6px;
	color: #5F4646;
	font-size: 12px;
}
div.cal_wrapper table.cal tr.headline {
	background-color: #F8F4E6;
}
div.cal_wrapper table.cal tr td div {
	position: relative;
	padding: 4px 6px;
	/*font-size: 10px;*/
	text-align: center;
	background-color: #FFF;
	border-radius: 3px;
	color: #5F4646;
}
div.cal_wrapper table.cal tr td div span {
	display: block;
	position: absolute;
	top: 20px;
	left: 0px;
	display: none;
	width: 180px;
	border: solid 1px #EEE;
	background-color: #FFF;
	text-align: left;
	padding: 5px;
	z-index: 10;
	color: #000;
	font-weight: normal;
	line-height: 1.5em;
	box-shadow: 1px 1px 3px #666;
}


div.cal_wrapper table.cal tr td div.Sat {
	color: #396CB8;
}
div.cal_wrapper table.cal tr td div.Sun {
	color: #F3122D;
}
div.cal_wrapper table.cal tr td div.Today {
	font-weight: bolder;
	border: 1px solid #B2A266;
}
div.cal_wrapper table.cal tr td div.Deli {
	background-color: #EFE;
}
div.cal_wrapper table.cal tr td div.Holyday {
	font-weight: bolder;
	color: #F3122D;
	background-color: #FFE5E5;
}
div.cal_wrapper table.cal tr td div.Birthday {
	font-weight: bolder;
	background-color: #EEF;
	color: #090;
	border-radius: 3px;
}

div.cal_wrapper table.cal tr td div.backward {
	color: #CCC;
	font-weight: normal;
	background-color: #FFF;
	border-radius: 3px;
}
div.cal_wrapper table.cal tr td div.pointer {
	cursor: pointer;
}
div.cal_wrapper table.cal tr td div.pointer:hover {
	background-color: #EEE;
}

#cal0, #cal1 {
	width: 230px;
	float: left;
}
#cal0{
	padding-right: 5px;
}
